.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.loader_icon {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid rgba(0, 0, 0, 0.2);
  border-right-color: #000000;
  border-radius: 22px;
  animation: rotate 1s infinite linear;
  /* left, top and position just for the demo! */
  position: absolute;
  left: 50%;
  top: 50%;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.fa-solid {
  font-size: 1.563rem;
  color: white;
  background: black;
  width: 2.813rem;
  border-radius: 0.875rem;
  text-align: center;
  height: 2.813rem;
  box-shadow: 0 0.188rem 1.063rem 0 rgba(0, 0, 0, 0.5);
  padding: 0.625rem;
}

.btn-close-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.btn-close-menu:not(.visible) {
  opacity: 0;
  pointer-events: none;
}

.flex-row {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 2em;
}

.btn-close-menu {
  z-index: 100;
  position: absolute;
  right: 0;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  /* animate the values if they change */
}

.theme-toggle {
  background: none;
  border: 2px solid var(--text-color);
  width: 50px;
  height: 25px;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: var(--transition);
}

body[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #ffffff;
  --icon-bg: #ffffff;
  --icon-text: #000000;
  --square-bg: #1e1e1e;
  --square-border: #ffffff;
  --button-bg: #ffffff;
  --button-text: #000000;
  --footer-bg: #1e1e1e;
  --footer-text: #ffffff;
}

.theme-toggle {
  background: none;
  border: 2px solid var(--text-color);
  width: 50px;
  height: 25px;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: var(--transition);
}

.logo {
  width: 3em;
  display: flex;
}

.theme-toggle::before {
  content: "";
  position: absolute;
  width: 17px;
  height: 17px;
  border-radius: 50%;
  background: var(--text-color);
  top: 2px;
  left: 2px;
  transition: var(--transition);
  transform: translateX(0);
}

body[data-theme="dark"] .theme-toggle::before {
  transform: translateX(23px);
}

.btn-close-menu:not(.visible) {
  opacity: 0;
  pointer-events: none;
}

.nav-items {
  display: none;
}

body {
  padding: 1em;
  overflow-x: hidden;
}

ul {
  list-style-type: disc;
  padding: 0;
}

.disc {
  list-style-type: disc;
  padding: 1rem;
}

.maze,
.freshf,
.boldy,
.levitate {
  color: white;
  font-weight: 700;
}

.icon {
  color: white;
}

.icon i {
  font-size: 1.3125rem;
}

.icon {
  transition: all 0.3s ease-in-out;
}

.icon:hover {
  transform: scale(1.5) rotate(36deg);
}

a {
  text-decoration: none;
  color: black;
}

.fa-envelope {
  margin-top: -0.625rem;
  width: fit-content;
}

.last {
  font-size: 1.563rem;
  font-weight: 700;
  text-align: left;
  margin-top: 2rem;
}

.copyrighttext {
  font-size: 0.75rem;
  margin-left: auto;
}

.screen {
  width: 2em;
}

.hamburger-menu-content.visible {
  /* display: flex; */
  opacity: 1;
  pointer-events: all;
}

.hamburger-menu-content {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: white;
  color: black;
  /* display: none; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}

.s-icon {
  margin-right: auto;
  transition: all 0.3s linear;
}

.s-icon:hover {
  transform: scale(1.23) translateX(20px);
}

.images-wrapper {
  display: flex;
  gap: 2em;
  align-items: center;
  justify-content: center;
  height: 100%;
}

footer {
  position: absolute;
  left: 0;
  transform: translateY(0.5rem);
  background-color: black;
  width: 100vw;
  height: auto;
  margin: auto;
  display: flex;
  gap: 1.25rem;
  padding: 0.7rem 1rem;
  margin-top: 2rem;
  color: white;
}

.screen-opening {
  background: #b2fd8fff;
  width: 100%;
  height: 10em;
}

.three-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  gap: 2rem;
}

.maze {
  background-color: #0e1ed8ff;
  padding: 1.4rem;
  display: flex;
  justify-content: center;
  font-size: 23px;
  width: 90%;
  padding-top: 15px;
  padding-bottom: 9px;
  border-radius: 14px;
  box-shadow: 1px 1px 14px rgba(14, 30, 216, 0.2);
}

.freshf {
  background-color: #946cffff;
  padding: 1.4rem;
  display: flex;
  justify-content: center;
  font-size: 23px;
  width: 90%;
  padding-top: 15px;
  padding-bottom: 9px;
  border-radius: 14px;
  box-shadow: 1px 1px 14px rgba(148, 108, 255, 0.2);
}

.boldy {
  background-color: #f4e101ff;
  padding: 1.4rem;
  display: flex;
  justify-content: center;
  font-size: 23px;
  width: 90%;
  padding-top: 15px;
  padding-bottom: 9px;
  border-radius: 14px;
  box-shadow: 0 0 10px rgba(244, 225, 1, 0.2);
}

.levitate {
  background-color: #0ad81dff;
  padding: 1.4rem;
  display: flex;
  justify-content: center;
  font-size: 23px;
  width: 90%;
  padding-top: 15px;
  padding-bottom: 9px;
  border-radius: 14px;
}

.one,
.deux,
.three {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}

@media (min-width: 768px) {
  div.nav-items {
    display: inline-block;
  }

  i.btn-hamburger-menu {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  div.nav-items {
    display: flex;
    gap: 3em;
  }

  .nav-bar {
    margin-top: 2em;
  }

  .screen {
    width: 7em;
  }

  .screen-opening {
    height: 23em;
  }

  .flex-row {
    gap: 2em;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
  }

  .one {
    display: flex;
    flex-direction: row;
  }

  .nav-item {
    transition: all 0.3s ease-in-out;
  }

  a.nav-item:hover {
    transform: rotate(30deg);
  }

  .deux {
    display: flex;
    flex-direction: row-reverse;
  }

  .three {
    display: flex;
    flex-direction: row;
  }

  .three-box {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
  }

  .three-items {
    display: flex;
    flex-direction: row;
    padding: 1px;
    justify-content: unset;
    margin-right: 2rem;
  }

  i.fa-arrow-up {
    margin-left: 42rem;
    margin-top: 4rem;
    font-size: 1.563rem;
    color: white;
    background: black;
    width: 2.813rem;
    border-radius: 2.875rem;
    text-align: center;
    height: 2.813rem;
    box-shadow: 0 0.188rem 1.063rem 0 rgba(0, 0, 0, 0.3);
    padding: 0.625rem;
  }

  .images-wrapper {
    height: 100%;
  }
}

@media screen and (min-width: 1440px) {
  .padder {
    padding: 2.8rem;
  }

  .flex-row {
    gap: 2em;
    margin-top: 2em;
    display: flex;
    justify-content: space-between;
  }

  body {
    padding: 0;
  }

  .logo {
    width: 5em;
    margin-left: 2em;
  }

  .screen {
    width: 12em;
  }

  .screen-opening {
    height: 29em;
  }

  .nav-items {
    display: flex;
    gap: 3em;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    margin-right: 2em;
  }

  /* Hero Section */
  .nav-bar {
    display: flex;
    align-items: center;
    padding: 1rem 5rem;
    transition: all 0.3s ease-in-out;
    width: 100%;
  }

  .images-wrapper {
    display: flex;
    gap: 5em;
    align-items: center;
    justify-content: center;
    /* starting position of the images */
    transform: translateY(130px);
    opacity: 0.1;
    transition: all 0.3s ease-out;
    height: 100%;
  }

  /* when the animation is finished we've faded in */
  .images-wrapper.fade-in {
    transform: translateY(0px);
    opacity: 1;
  }

  .mini {
    margin-left: 2em;
  }

  .img {
    height: 437px;
  }

  .sum-add {
    display: flex;
    flex-direction: column;
    margin-top: -2rem;
  }

  .padder {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin-top: -4rem;
  }

  .summary {
    font-size: 2.563rem;
  }

  .together {
    margin-top: 4rem;
  }

  .mini {
    gap: 18px;
  }

  p {
    line-height: 52px;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 400;
  }

  .stack {
    gap: 2px;
  }

  .intro {
    color: black;
    font-weight: 700;
    font-size: 2.563rem;
  }

  .three-box {
    gap: 5em;
  }

  .one,
  .deux,
  .three {
    gap: 9em;
  }

  .caption {
    width: 26em;
  }

  .padder {
    padding: 3.8rem;
  }

  .title {
    font-size: 21px;
  }

  .headline {
    font-size: 2.563rem;
    margin-right: 13em;
  }

  .stack {
    margin-top: 2rem;
  }

  .last {
    font-size: 3.563rem;
    padding: 2.8rem;
  }

  .freshf,
  .boldy,
  .maze,
  .levitate {
    width: 16%;
  }

  .freshf,
  .boldy,
  .maze,
  .levitate {
    width: 16%;
    transition: all 0.3s ease-in-out;
  }

  .freshf:hover,
  .boldy:hover,
  .maze:hover,
  .levitate:hover {
    width: 16%;
    transform: scale(1.1);
  }

  .freshf,
  .boldy,
  .maze,
  .levitate {
    width: 16%;
    transition: all 0.3s ease-in-out;
  }

  .three-items {
    display: flex;
    flex-direction: row;
    padding: 1px;
    justify-content: unset;
    margin-left: 2.8rem;
  }

  footer {
    position: absolute;
    left: 0;
    transform: translateY(0.5rem);
    background-color: black;
    width: 100vw;
    height: auto;
    margin: auto;
    display: flex;
    gap: 1.25rem;
    padding: 0.7rem 1rem;
    margin-top: 7rem;
    color: white;
  }

  .screen-opening {
    position: relative;
    top: 5px;
  }
}
